# Секретні ключі (найважливіше!)
.env

# Віртуальне оточення (бібліотеки не треба заливати, вони є в requirements.txt)
.venv/
venv/
env/

# Тимчасові файли Python (сміття)
__pycache__/
*.pyc

# Тимчасові файли PyCharm (налаштування редактора)
.idea/

# Якщо ти не хочеш заливати тестові файли pdf/docx
*.pdf
*.docx